<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unidad Educativa César Dávila Andrade</title>
</head>
<body>
  

  <header>
  

    <div class="content">
      <img style="height: 80px;margin-right: 700px;border-radius: 100%;" src="assets/Logo.png" alt="l1">

    <div class="menu container">

      <a  href="http://localhost:4200/" class="logo">Unidad Educativa "César Dávila Andrade"</a>
      <input type="checkbox" id="menu" />
      <label for="menu">
        <img src="assets/menu.png" class="menu-icon" alt="">
      </label>
      <nav class="navbar">
        <ul>
          <li><a href="http://localhost:4200/">Inicio</a></li>
          <li><a href="https://www.facebook.com/UnidadEducativaCesarDavilaAndrade?locale=es_LA">Facebook</a></li>
        </ul>
      </nav>
    </div>
  </div>
  </header>
  
</body>
<div class="imagentop">
  <img style="height: auto;width: 1000px;margin-left: 300px;" src="assets/fondo.png" alt="">
  <img style="height: 200px;margin-right: 700px;margin-top: -200px;" src="https://i.pinimg.com/736x/2f/31/97/2f3197ae2e1c65dd42a9facf0af23a06.jpg" alt="">
  <img style="height: 200px;margin-left: 1360px;margin-top: -200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Escudo_de_Cuenca_%28Ecuador%29.png/800px-Escudo_de_Cuenca_%28Ecuador%29.png" alt="">
</div>
<div class="Información">
  <h1 style="background-color:#d2b23c ;text-align: center;">¿Quiénes Somos?</h1>

  <p> La Unidad Educativa César Dávila Andrade es un centro educativo urbano que lleva el nombre de un destacado poeta ecuatoriano, ofreciendo educación en los niveles de Inicial, Educación Básica y Bachillerato, con una modalidad presencial en jornada matutina y vespertina.
    La Unidad Educativa César Dávila Andrade también ofrece una modalidad presencial de jornada matutina y vespertina, con un nivel educativo que abarca desde Inicial hasta Bachillerato. 
  </p>
  <h2 style="color: rgb(26, 26, 209);">¡Inscribete ahora 2021-2022!</h2>
  <img style="height: 500px;margin-left: 500px;" src="assets/Matriculas.jpg" alt="">
  <h3 style="background-color:#d2b23c;text-align: center;">Nuestra oferta Académica</h3>
</div>
<div class="grid-container">
  <div class="grid-item1">INICIAL
    <p>Las primeras experiencias educativas son las mas importantes para nuestros niños y niñas.</p>
  </div>
  <div class="grid-item2">PREPARATORIA
    <p>Oferta académica del Subnivel de Educación General Básica Preparatoria, dirigido a niños de 5 años de edad.</p>
  </div>
  <div class="grid-item3">BÁSICA MEDIA
    <p>Subnivel de Educación General Básica Elemental, dirigida a estudiantes de entre 6 y 8 años de edad.</p>
  </div>
  <div class="grid-item4">BÁSICA SUPERIOR
    <p>Cada año en nuestra Institución el grupo de Educación General Básica Media mejora su aprendizaje.</p>
  </div>
  <div class="grid-item5">BACHILLERATO
    <p>Oferta del nivel de Bachillerato General Unificado, dirigido a estudiantes de entre 14 y 17 años</p>
  </div>
</div>

<div  class="contacto"></div>
<h3 style="background-color:#d2b23c ;font-family: Arial, Helvetica, sans-serif;font-weight: bold;">Contactos:</h3>
<p style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;">Horario de Atención:</p>
<p style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;"> Lunes - Viernes (07:00 - 14:00)</p>
<p style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;"> Jorge Carrera Andrade y José de la Cuadra, Cuenca, Ecuador</p>
<p style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;">(07) 410-7760</p>
<img style="height: 180px;border-radius: 20px;" src="assets/Ubicación.png" alt="ubicación">

</html>
